* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: rgb(91, 168, 251) ;
    --second: rgb(20, 13, 225) ;
    --background: rgb(199, 199, 199) ;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background);
}

section {
    padding: 30px;
}

header {
    padding: 20px 35px;
    background-color: var(--second);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--primary);
    text-shadow: 0 0 10px var(--primary);
}

header a {
    text-decoration: none;
    color: var(--primary);

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 30px;
    margin: 20px 20px 0 0;
}

header nav ul li a:hover {
    color: var(--primary);
    font-weight: bold;
    border-radius: 15px;
    text-shadow: 0 0 15px var(--primary);
}

.hero {
    background-image: url('../images/orlando-skyline.jpg');
    height: 220px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--primary);
    float: left;
    background-color: var(--second);
}

.photo {
    width:15%;
    height: auto;
    padding-left: 2%;
}