* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: rgb(91, 168, 251) ;
    --second: rgb(20, 13, 225) ;
    --background: rgb(199, 199, 199) ;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: var(--second);
}

section {
    padding: 30px;
}

header {
    padding: 20px 35px;
    background-color: var(--second);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--primary);
    text-shadow: 0 0 10px var(--primary);
}

header a {
    text-decoration: none;
    color: var(--primary);

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 30px;
    margin: 20px 20px 0 0;
}

header nav ul li a:hover {
    color: var(--primary);
    font-weight: bold;
    border-radius: 15px;
    text-shadow: 0 0 15px var(--primary);
}

.hero {
    background-image: url('../images/orlando-skyline.jpg');
    height: 220px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--primary);
    text-shadow: 0 0 10px var(--primary);
    float: left;
    background-color: var(--second);
}

.photo {
    width:15%;
    height: auto;
    padding-left: 2%;
}

.section {
    background-color: var(--second);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 30px;
    color: var(--primary);
    margin: 0 auto 0 auto;
    padding-right: 15px;
    width: 10%;
    text-align: end;
    border-right: var(--primary) solid 3px;
    text-shadow: 0 0 10px var(--primary);
}

.section-title2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 30px;
    color: var(--primary);
    text-shadow: 0 0 10px var(--primary);
    margin: 0 auto 0 auto;
    width: 10%;
    text-align: end;
    height:1000px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 90%;
}

.flex-row2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 80%;
    border-left: var(--primary) solid 3px;
}

.section p, .section a {
    line-height: 1.5;
    color: var(--primary);
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    padding: 0 15px 0 15px;
}

.flex-row2 p {
    display: inline-block;
    text-align: start;
    background-color:var(--background);
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 2%;
}

.challenge-01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    height: 650px;
    width: 100%;
}

.future-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    flex-direction: row;
    width: 100%;
}

.horiseon {
    background-image: url("../images/horiseon-screenshot.png");
    background-size: cover;
    width: 95%;
    height: 600px;
    border: var(--primary) 5px solid;
    position: relative;
}

.horiseon:hover {
    opacity: 75%;
}

.coming-soon {
    background-image: url("../images/placeholder-coming-soon.jpg");
    background-size: cover;
    width: 46%;
    height: 250px;
    margin-bottom: 2%;
    margin-right: 0.5%;
    margin-left: 1%;
    border: var(--primary) 5px solid;
    position: relative;
}

.coming-soon:hover {
    opacity: 75%;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 0;
    background-color: var(--second);
}

.contact-section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: 32px;
}

footer ul li a {
    text-decoration: none;
    color: var(--primary);
    padding: 90px;
}

footer ul li a:hover {
    color: var(--primary);
    font-weight: bold;
    border-radius: 15px;
    text-shadow: 0 0 15px var(--primary);
}

@media screen and (max-width: 992px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width:100%;
        text-align: center; 
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .section-title {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}

@media screen and (max-width: 600px) {
    .section-title {
        width: 95%;
    }

    .section p {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        flex-direction: column;
    }

    .contact-section {
        width: 100%;
    }

    footer ul li {
        padding: 10px;
        text-align: center;
    }
}


